body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#result {
    width: 100%;
    height: 60px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #f3f3f3;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #faf9f9;
}

button:active {
    background-color: #ddd;
}
