body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #444;
}

h2 {
    color: #444;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

input {
    margin-bottom: 10px;
}

#studentOutput {
    margin-top: 20px;
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
}
