.a1{ 
    color: red;
    font-size: 50px;
    background-color: yellow;
}

.a2{ 
    color: green;
    font-size: 50px;
    background-color: pink;
}

.b1{ 
    color: blue;
    font-size: 50px;
    background-color: pink;
}